<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/boot1/user_layout :: layout(~{::content}, ~{::head_additional})}">
<html lang="en">

<head>
  <th:block th:fragment="head_additional">
    <link rel="stylesheet" type="text/css" href="/css/boot1/login/bootstrap.css" th:href="@{/css/boot1/login/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/css/boot1/login/main.css" th:href="@{/css/boot1/login/main.css}">
    <link rel="stylesheet" type="text/css" href="/css/boot1/style.css" th:href="@{/css/boot1/style.css}">
  </th:block>
</head>
<body>
<div th:fragment="content">
  <!--================Login Box Area =================-->
  <section class="login_box_area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="login_box_img" style="width: 100%; height: 100%;">
            <img class="img-fluid-footer" style="width: 100%; height: 100%;" th:src="@{/image/boot1/login.jpg}" alt="">
            <div class="hover">
              <h4>Login to my shop</h4>
              <p>Enter Four Leaves Shoes to enhance your experience</p>
              <a class="primary-btn" th:href="@{/login}">Login now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="login_form_inner">
            <h3>Register</h3>
            <form class="row login_form" method="post" th:action="@{/register}">
              <div class="col-md-12 form-group">
                <div id="successMessage" th:if="${message}" class="alert alert-success" role="alert"
                     th:text="${message}">
                </div>
              </div>
              <div class="col-md-12 form-group">
                <div id="errorMessage" th:if="${errorMessage}" class="alert alert-danger" role="alert"
                     th:text="${errorMessage}">
                </div>
              </div>
              <div class="col-md-12 form-group">
                <input type="text" id="username" class="form-control" name="userName" placeholder="User name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required>
              </div>
              <div class="col-md-12 form-group">
                <input type="text" id="accountName" class="form-control" name="accountName" placeholder="Account name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'AccountName'" required>
              </div>
              <div class="col-md-12 form-group">
                <input type="email" id="email" class="form-control" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required>
              </div>
              <div class="col-md-12 form-group">
                <div class="password-input-wrapper">
                  <input type="password" id="password" class="form-control" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
                  <span class="toggle-password" onclick="togglePasswordVisibility('password')"><i class="fa fa-eye"></i></span>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <div class="password-input-wrapper">
                  <input type="password" id="repeatPassword" class="form-control" name="repeatPassword" placeholder="Repeat Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'RepeatPassword'" required>
                  <span class="toggle-password" onclick="togglePasswordVisibility('repeatPassword')"><i class="fa fa-eye"></i></span>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <button type="submit" class="primary-btn">Register</button>
                <input type="hidden" name="_csrfToken" th:value="${_csrfToken}">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function togglePasswordVisibility(inputId) {
        var input = document.getElementById(inputId);
        var icon = input.nextElementSibling.querySelector('i');

        if (input.type === "password") {
          input.type = "text";
          icon.classList.remove('fa-eye');
          icon.classList.add('fa-eye-slash');
        } else {
          input.type = "password";
          icon.classList.remove('fa-eye-slash');
          icon.classList.add('fa-eye');
        }
      }
    </script>
  </section>
  <!--================End Login Box Area =================-->
</div>

</body>
</html>